* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	border: 0 none;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Heebo', sans-serif;
	background-color: #fff;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 1140px;
	max-width: 100%;
	margin: 0 auto;

}
.main-header{
	margin: 27px 0 110px 0;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;

}

.main-nav ul {
	text-align: center;
}

.main-nav li {
	display: inline;
	padding: 0 35px 0 0;
}

.main-nav li:last-child {
	padding: 0;
}

.main-nav a {
	color: black;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	display: inline-block;
}

.main-nav a:hover {
	color: #ff6464;
}

.main {
	padding: 0 0 70px 0;
}

h1{
	color: #21243D;
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 40px;
}

.main p{
	color: #21243D;
	font-size: 16px;
	margin-bottom: 40px;
}

.photo {
  	width: 243px;
  	height: 243px;
  	margin: 0 auto;
  	overflow: hidden;
  	border-radius: 50%;box-shadow: -10px 10px #EDF7FA;

}

.personPhoto {
	width:100%;
  	height:100%;
  	object-fit: cover;


}

.btn {
	display: inline-block;
	box-sizing: border-box;
	padding: 10px 20px;
	outline: none;
	border-radius: 2px;
	line-height: 29px;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	background-color: #FF6464;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
}
.btn:focus {
	box-shadow: 0 0 0 3px rgba(255,100,100,0.25);
}
.btn:hover {
	background-color: #f35a5b;

}
.btn:active {
	background-color: #f35a5b !important;

}
.btn:disabled {
	pointer-events: none;
	opacity: 0.65;
}

.flex{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.flex div{
	flex: 1;
}
.flex-grow{
	flex-grow: 2;

}

.recent-posts{
	background-color: #EDF7FA;
	padding: 25px 0 30px 0;
}

.recent-posts h3{
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 20px;
}

.card {
    transition: 0.3s;
    padding: 25px;
    background-color: #fff;
    margin-left: 20px;
}

.card:first-child{
	margin-left: 0;
}

.card h4{
	color: #21243D;
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 35px;
}

.posts-header a, .posts-header h3{
	display: inline-block;
}

.posts-header a{
	text-decoration: none;
	color: #00A8CC;
	float: right;
}

.posts-header a:hover{
	text-decoration: none;
	color: #ff6464;
	float: right;
}

footer{
	padding: 50px 0;
}

footer p{
	font-size: 14px;
	text-align: center;
}


.social-icons {
  text-align: center;
  margin-bottom: 25px;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:30px;
  height:30px;
  margin-right: 20px;
}


@media (min-width: 1140px) {
	.main-header .container {

	}
}
